<template name="ForgotPassword">
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div id="passwordResetEmailBox" class="col-xs-12 col-sm-5 col-md-5">
                <h4 class="">Forgot your password?</h4>
                <form action="/forgot" id="forgotPasswordForm" method="post">
                    <fieldset>
                        <span class="help-block">Email address you use to log in to your account
                          <br>We'll send you an email with instructions to choose a new password.</span>
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input class="form-control" id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
                        </div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored btn-block btn-submit"
                            id="btn-olvidado">Continue</button>
                    </fieldset>
                </form>
                <!-- end #forgot-password-form -->
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div id="resetLoader" style="visibility : hidden;">
                    {{> spinner}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ResetPassword">
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            {{#if resetPassword}}
            <form action="/reset-password" id="resetPasswordForm" method="post">
                <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password">
                <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
                <input class="btn-submit" type="submit" value="Reset">
            </form>
            <!-- end #reset-password-form -->
            {{/if}}
        </div>
    </div>
</template>