<template name="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a class="#" href="{{pathFor 'homeIndex'}}">
                        <img style="margin-left:5px;" src="http://www.theambula.lk/images/ambula-nav.png" alt="The Ambula"/>
                    </a>
                </div>
                <div id="veganOption" class="navbar-brand pull-right text-center">
                    <a class="#" href="{{pathFor 'homeIndex'}}">
                        <i class="fa fa-envira fa-2x {{#if veganOnlySelected}}checked{{/if}}" aria-hidden="true"></i>
                    </a>
                    <p class="{{#if veganOnlySelected}}checked{{/if}}">
                        vegan only
                    </p>
                </div>
            </div>
            <div class="col-md-offset-2">
                <form class="navbar-form col-md-6" role="search" action="{{pathFor 'searchResults'}}">
                    <div class="input-group">
                        <input class="form-control typeahead" name="q" type="text" placeholder="recipes"
                               autocomplete="off" spellcheck="off" data-source="search"
                        />
                        <span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
                        </span>
                        </button>
                        <button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
                        </span>
                    </div>
                </form>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!--<ul id="login" class="nav navbar-nav navbar-right">{{> loginButtons }}</ul>-->

                <ul class="nav navbar-nav navbar-right" style="margin-right : 5px;">
                    {{#if currentUser}}
                        <li class="dropdown">
                            <a href="#" id="notifications-dropdown" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-bell"
                                                                                                 aria-hidden="true"></i></span><span
                                    class="badge badge-notify">{{notificationsCount}}</span></a>
                            <ul class="dropdown-menu">
                                {{#each notifications}}
                                    <li style="padding :10px;">
                                        <a href="/recipe/{{postId}}" id=""><strong>{{message}}</strong></a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/if}}
                    <li class=""><a id="addNewYtVideo" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> New
                        Recipe</a></li>
                    {{#if currentUser}}
                        <li class="dropdown">
                            {{#if currentUser.username}}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Welcome <strong>{{currentUser.username}}
                                    <span class="caret"></span></strong></a>                        {{else}}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Welcome
                                    <strong>{{currentUser.profile.name}} <span
                                            class="caret"></span></strong></a>                        {{/if}}
                            <ul class="dropdown-menu">
                                <li><a href="/profile" id="profile">profile</a></li>
                                <li role="separator" class="divider"></li>
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <li><a href="#" id="logout">Logout</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li class=""><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>