<template name="postTile">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="ytvideoview-hometile-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__media">
                <a class="panel-google-plus-image" href="https://plus.google.com/photos/115077481218689845626/albums/6028961040749409985/6028961040650432498">
                    <div class="col-md-12 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{videoId}}"></iframe>
                    </div>
                </a>
            </div>
            <a href="/singlerecipevideoview/{{_id}}">
                <div class="mdl-card__title">
                    <div class="mdl-card__title-text">
                        <span>{{ videoTitle }}</span>

                    </div>
                </div>
            </a>
            <div class="mdl-card__actions mdl-card--border">
                <div class="pull-right">
                    <a id="heart" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
                        <i class="material-icons md-18">favorite_border</i>
                    </a>
                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
                        <i class="material-icons md-18">share</i>
                    </a>
                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
                        <i class="material-icons">more_horiz</i>
                    </a>
                </div>
                <div class="pull-left">
                    {{#if profileAvatar }}                    
                    <img class="ytvideo-owner-thumbnail" id="profPic" width="150" height="150" src="{{c.url profileAvatar width=250 height=250 crop='fill'}}">
                    {{else}}
                    <img class="ytvideo-owner-thumbnail" id="profPic" width="150" height="150" src="/images/user-avatar.jpg">
                    {{/if}}
                    <span><strong>{{ownerProfile}}</strong></span><br>
                    <span><small>{{createdDate}}</small></span>
                </div>
            </div>
        </div>
    </div>
</template>