<template name="sideNav">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <label id="sidenav-title" style="text-align:center;width : 100%;padding : 3px;">Recipe Channels</label>
            {{#each users}}
            {{#if currentUser}}
            
            {{#if not_equals userObject.username currentUser.username}}
                 <li>
                <a href="/channels/{{userObject._id}}">
                              {{#if userObject.profile.user_avatar }}
								<img class="img-circle" src="{{c.url userObject.profile.user_avatar width=30 height=30 crop='fill'}}">
								{{else}}
                                 <img class="img-circle" src="/images/user-avatar.jpg" >
								{{/if}}
                           
                            <b>{{userObject.profile.first_name}}</b>
                    </a>
                </li>
                {{/if}}
            {{else}}
                <li>
                <a href="/channels/{{userObject._id}}">
                              {{#if userObject.profile.user_avatar }}
								<img class="img-circle" src="{{c.url userObject.profile.user_avatar width=30 height=30 crop='fill'}}">
								{{else}}
                                 <img class="img-circle" src="/images/user-avatar.jpg" >
								{{/if}}
                           
                            <b>{{userObject.profile.first_name}}</b>
                    </a>
                </li>
            {{/if}}
            {{/each}}
       
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</template>