<template name="userChannel">
	<div id="page-content-wrapper">
		<div class="container-fluid xyz">
			<div class="row">
				<div class="col-lg-12">
					<div class="ytvideoview-hometile-card-wide mdl-card mdl-shadow--2dp">
					<div class="row clearfix well" style="background : #fff;">
						 {{#each users}} 
						<div class="col-md-2 col-xs-12 column">
							{{#if profile.user_avatar }}
								<img id="profPic" width="150" height="150" src="{{c.url profile.user_avatar width=250 height=250 crop='fill'}}">
								{{else}}
  								<img id="profPic" width="150" height="150" src="/images/user-avatar.jpg">
							{{/if}}												
						</div>
						<div class="col-md-9 column">
								<span class="text-capitalize"><h2>
									{{#if profile.first_name}}
										{{ profile.first_name}} {{ profile.last_name }}
									{{else}}
										{{ profile.name }}
								{{/if}}									
								</h2></span> <small>{{{profile.description }}}</small>
						</div>
						<div class="col-md-1 column">
							<a class="facebookBtn smGlobalBtn" href="//{{ profile.facebok_url }}" ></a>
							<a class="googleplusBtn smGlobalBtn" href="//{{ profile.youtube_url }}" ></a>
							<a class="websiteButton smGlobalBtn" href="//{{ profile.website_url }}" ></a>
						</div>
						{{/each}}
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="padding: 0px;">
                    {{#each videos}}
                        {{>channelRecipeTile }}
                    {{/each}}
				</div>
			</div>
		</div>
	</div>
</template>