<template name="userChannel">
	<div id="page-content-wrapper">
		<div class="container-fluid xyz">
			<div class="row">
				<div class="col-lg-12">
					<div class="ytvideoview-hometile-card-wide mdl-card mdl-shadow--2dp">
					<div class="row clearfix well" style="background : #fff;">
						 {{#each users}} 
						<div class="col-md-2 col-xs-12 column">
							{{#if profile.user_avatar }}
								<img id="profPic" width="150" height="150" src="{{c.url profile.user_avatar width=250 height=250 crop='fill'}}">
								{{else}}
  								<img id="profPic" width="150" height="150" src="/images/user-avatar.jpg">
							{{/if}}												
						</div>
						<div class="col-md-8 column">
								<span class="text-capitalize"><h2>{{ profile.first_name}} {{ profile.last_name }}
								</h2></span> <small>{{{profile.description }}}</small>
						</div>
						<div class="col-md-2 column">
							<a href="{{profile.facebook_url}}" class="btn btn-default btn-block" type="button">
								 <i style="color: #3b5998" class="fa pull-left fa-facebook fa-lg"></i>Facebook
							</a>
							<a href="{{profile.youtube_url}}" class="btn btn-default btn-block" type="button">
								<i style="color: #b31217;" class="fa pull-left fa-youtube-play fa-lg"></i> Youtube
							</a>
							<a href="{{profile.website_url}}" class="btn btn-default btn-block" type="button">
								<i class="fa pull-left fa-globe fa-lg"></i> Website
							</a>
						</div>
						{{/each}}
					</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
                    {{#each videos}}
                        {{>channelRecipeTile }}
                    {{/each}}
				</div>
			</div>
		</div>
	</div>
</template>