#profPic{
    margin-bottom: 10px;
}

.small-card-title h6{
    font-size: small;
    margin-top: 3px;
    margin-bottom: 1px;
}

.ellipsis-title{
    margin: 10px 0px;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: 52px; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-tile-image{
    height: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-tile-image img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Tab navigation related styles*/
.nav-pills{
    padding: 5px 15px 5px 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #523410;
    text-transform: uppercase;
    text-align: center;
    width: 15rem;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: #fff;
    background-color: #f7961e;
}