.modal-content {
    border-radius: 0px;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    border: 1px solid GREY;
}

.form-control, .btn {
    border-radius: 0px !important;
}

.help-block {
    color: #a94442;
}

#cancel, #submit, #deleteBtn, #cancelBtn, .form-footer-btn {
    width: 10em;
}

#cancel {
    margin-right: 5px;
}

select option:first-child {
    color: grey;
}

/*Google Material Design Related Styles*/
.mdl-card__title {
    padding: 5px 15px 5px 15px !important;
    font-size: large;
}

.mdl-card__title-text {
    display: inline-block !important;
}

.ytvideoview-card-wide, .ytvideoview-title-card-wide, .ytvideoview-desc-card-wide, .ytvideoview-recent-list-card-wide, .ytvideoview-comments-card-wide, .ytvideoview-hometile-card-wide {
    margin-bottom: 12px !important;
    width: 100% !important;
}

.ytvideoview-title-card-wide, .ytvideoview-desc-card-wide {
    min-height: inherit !important;
    height: auto !important;
}

.mdl-card a {
    text-decoration: none;
}

a.mdl-button{
    color: #000000;
}

.ytvideo-owner-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dropdown-menu .divider {
    margin: 4px 0px !important;
}

/*//////////////////////heart button styles////////////////////*/
#heart {
    padding-top: 6px;
}

.heart-full{
    color:#D1242F;
}
/*//////////////////single-post-stat-view styles////////////////*/
.single-post-stat-view{
    margin: 5px 15px;
}

/*///////Recipe Video Adding Toggle Option Related styles///////*/

#recipeAddOptionToggle{
    padding: 0px 15px;
}

.nav-pills > li > a{
    color: #000000;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: rgb(121,85,72);
}