.modal-content {
    border-radius: 0px;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    border: 1px solid GREY;
}

.form-control, .btn {
    border-radius: 0px;
}

.help-block {
    color: #a94442;
}

#cancel, #submit, #deleteBtn , #cancelBtn{
    width: 10em;
}

#cancel{
    margin-right: 5px;
}

select option:first-child {
    color: grey;
}

/*Google Material Design Related Styles*/
.mdl-card__title {
    padding: 5px 15px 5px 15px !important;
    font-size: large;
}

.mdl-card__title-text {
    display: inline-block !important;
}

.ytvideoview-card-wide, .ytvideoview-title-card-wide, .ytvideoview-desc-card-wide, .ytvideoview-recent-list-card-wide, .ytvideoview-comments-card-wide, .ytvideoview-hometile-card-wide {
    margin-bottom: 12px !important;
    width: 100% !important;
}

.ytvideoview-title-card-wide, .ytvideoview-desc-card-wide {
    min-height: inherit !important;
    height: auto !important;
}

.mdl-card a {
    text-decoration: none;
}

.ytvideo-owner-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}