.modal-content {
    border-radius: 0px;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    border: 1px solid GREY;
}

.form-control, .btn {
    border-radius: 0px !important;
}

.help-block {
    color: #a94442;
}

#cancel, #submit, #deleteBtn, #cancelBtn, .form-footer-btn {
    width: 10em;
}

#cancel {
    margin-right: 5px;
}

select option:first-child {
    color: grey;
}

/*Google Material Design Related Styles*/
.mdl-card__title {
    /*padding: 5px 15px 5px 15px !important;*/
}

.mdl-card__title-text {
    display: inline-block !important;
}

.ytvideoview-card-wide, .ytvideoview-title-card-wide,
.ytvideoview-desc-card-wide, .ytvideoview-recent-list-card-wide,
.ytvideoview-comments-card-wide, .ytvideoview-hometile-card-wide,
.featuredvideos-list-card-wide, .ytvideoview-advertisement-card-wide {
    margin-bottom: 12px !important;
    width: 100% !important;
}

.ytvideoview-title-card-wide, .ytvideoview-desc-card-wide {
    min-height: inherit !important;
    height: auto !important;
}

.mdl-card a {
    text-decoration: none;
}

a.mdl-button {
    color: #000000;
}

.ytvideo-owner-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dropdown-menu .divider {
    margin: 4px 0px !important;
}

/*//////////////////////heart button styles////////////////////*/
#heart {
    padding-top: 6px;
}

.heart-full {
    color: #D1242F;
}

/*//////////////////single-post-stat-view styles////////////////*/
.single-post-stat-view {
    /*margin: 5px 15px;*/
}

.single-post-stat-view-single-view {
    margin: 5px 15px;
}

.mdl-badge {
    /*position: absolute;*/
    /*background-position-x: 50px;*/
}

/*////////////Featured videos list Related Styles //////////////*/

#featured-video-list-title {
    margin-top: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    color: #523410;
    font-size: 1.4em;
    font-weight: 300;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
}

.featuredvideo-tile {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 120px !important;
}

@media screen and (min-width: 992px) {
    .featuredvideo-tile-card-title {
        padding-left: 0px !important;
    }

    .featuredvideo-tile-card-title-text {
        height: 115px !important;
        font-size: 1em !important;
    }

    .ytvideoview-hometile-card-title-container {
        height: 150px !important;
    }

    .ytvideoview-hometile-card-title-date {
        text-align: right;
    }

}