<template name="homeIndex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding:0;background:#4e342e;overflow:hidden;">
                <img style="-webkit-filter: blur(3px);filter: blur(3px);" src="/images/header_background.jpg" alt="">
                <ul class="cloud">
                    <li>Chicken</li>
                    <li>Lunch</li>
                    <li>Fish</li>
                    <li>Savouries</li>
                    <li>Quick</li>
                    <li>Mutton</li>
                    <li>Dinner</li>
                    <li>Easy</li>
                    <li>Breakfast</li>
                    <li>Milk</li>
                    <li>Cream</li>
                    <li>Cheese</li>
                    <li>Spicy</li>
                    <li>Vegan</li>
                    <li>Sweet</li>
                    <li>Village</li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-lg-3">
                {{>sideNav}}
            </div>
            <div class="col-lg-6">
                {{> collectionPagination}}
            </div>
            <div class="col-lg-3">
                {{>ad_tile }}
            </div>
        </div>
    </div>
</template>

<template name="collectionPagination">
    {{#each videos}}
        {{>postTile }}
    {{/each}}
    {{#if moreResults}}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="showMoreResults" style="margin-left: 25px;">
            <img class="loading" src="/images/loading.gif">
        </div>
    {{/if}}
</template>