<template name="homeIndex">
    <div id="page-content-wrapper" style="background: #fafafa;">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-6">
                    {{> collectionPagination}}
                </div>
            </div>
            <div class="col-lg-6" ></div>
        </div>
    </div>
</template>

<template name="collectionPagination">
    {{#each videos}}
        {{>postTile }}
    {{/each}}

    {{#if moreResults}}
    <div class="col-sm-8 col-xs-12" id="showMoreResults" style="margin-left: 25px;">
        <img class="loading" src="/images/loading.gif" >
    </div>
    {{/if}}
</template>