<template name="userProfile">
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ytvideoview-hometile-card-wide mdl-card mdl-shadow--2dp">
                        <div class="row clearfix well" style="background : #fff;">
                            <div class="col-md-2 col-xs-12 column">
                                <form>
                                    {{#if checkAvatarExists }}
                                        <img id="profPic" width="160" height="160"
                                             src="{{c.url currentUser.profile.user_avatar width=250 height=250 crop='fill'}}">
                                    {{else}}
                                        <img id="profPic" width="160" height="160"
                                             src="/images/user-avatar.jpg">
                                    {{/if}}
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label id="inputArea" class="btn btn-default btn-file">
                                                Browse <input type="file" style="display: none;" id="userimage"
                                                              name="userimage"/>
                                            </label>
                                            <button id="cancelButton" style="display: none;" class="btn btn-danger"
                                                    type="submit">Cancel
                                            </button>
                                        </div>
                                        <div class="col-md-5">
                                            <button id="saveButton" style="display: none;" class="btn btn-success"
                                                    type="submit">Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9 column">
								<span class="page-header text-capitalize"><h2>
                                    {{#if currentUser.profile.first_name}}
                                        {{ currentUser.profile.first_name }} {{ currentUser.profile.last_name }}
                                    {{else}}
                                        {{ currentUser.profile.name }}
                                    {{/if}}
                                </h2></span>
                                <small>{{{ currentUser.profile.description }}}</small>
                                <br>
                                <div class="row" style="margin-top:15px;margin-left:10px;">
                                    <a class="facebookBtn smGlobalBtn"
                                       href="//{{ currentUser.profile.facebook_url }}"></a>
                                    <a class="googleplusBtn smGlobalBtn"
                                       href="//{{ currentUser.profile.youtube_url }}"></a>
                                    <a class="websiteButton smGlobalBtn"
                                       href="//{{ currentUser.profile.website_url }}"></a>
                                </div>
                            </div>
                            <div class="col-md-1 column">
                                <!--<button class="btn btn-default btn-block" type="button">Poke</button>-->
                                {{#if currentUser}}
                                    <button id="editButton" class="btn btn-default pull-right"
                                            style="margin-bottom: 10px;" type="button">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding: 0px;">
                    {{#each videos}}
                        {{>profileRecipeTile }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>