<template name="userProfile">
	<div id="page-content-wrapper">
		<div class="container-fluid xyz">
			<div class="row">
				<div class="col-lg-12">
					<div class="row clearfix well">
						<div class="col-md-2 col-xs-12 column">
							<img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/" />
						</div>
						<div class="col-md-8 column">
							<blockquote>
								<p>
									Potter Guy
								</p> <small>21 / M / Single / Straight <cite>London England</cite></small>
							</blockquote>
						</div>
						<div class="col-md-2 column">
							<button class="btn btn-default btn-block" type="button">Poke</button>
							<button class="btn btn-default btn-block" type="button">Message</button>
							<button class="btn btn-default btn-block" type="button">New Recipe</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>